@import "./styles/globals.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
}

svg line {
  stroke-width: 1px;
}
